<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>QMENTA Test</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

        <!-- Source JS -->
        <script src="static/js/main.js"></script>

        <!-- Import JQuery-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>
    <body style="background-color: #2596be;">

        <!-- Nav Bar -->
        <nav class="navbar navbar-expand-lg bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="http://127.0.0.1:8000/">
                    <img src="https://www.qmenta.com/hs-fs/hubfs/Imported_Blog_Media/QM_logo_02-e1504711898567.png?width=1000&height=414&name=QM_logo_02-e1504711898567.png" width="200" height="80" alt="">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <button type="buttom" class="btn btn-danger" onclick="server_connect('reconnect')">Reconnect</button>
                            <button type="buttom" class="btn btn-dark" onclick="server_connect('patient')">Data User</button>
                        </li>
                    </ul>
                </div>
                    <h5 style="color: #2596be;  margin-right: 5%;">{{ data_time }}</h5>
            </div>
        </nav>
        <!-- End Nav Bar -->

        <!-- Body Main -->
            <p id="message"></p>
        <!-- End Body Main -->

    </body>
</html>